*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-very-dark-blue: hsl(243, 87%, 12%);
  --color-desaturated-blue: hsl(238, 22%, 44%);
  --color-bright-blue: hsl(224, 93%, 58%);
  --color-moderate-cyan: hsl(170, 45%, 43%);
  --color-light-grayish-blue: hsl(240, 75%, 98%);
  --color-light-gray: hsl(0, 0%, 75%);
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
header,
button {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.header-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 3.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  min-width: 5em;
  width: 20%;
  max-width: 10em;
}

.logo-wrapper img {
  width: 100%;
  height: auto;
}

.header-nav {
  width: 50%;
  max-width: 15em;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.95rem;
}

.header-nav-link:hover {
  text-decoration: underline;
}
